<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Currency Converter</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
    <h2 class="text-center">Конвертер валюты</h2>
    <form action="/calculate" th:object="${convert}" method="post">
        <div class="text-center mb-2">
            <button type="submit" class="btn-sm btn-primary text-decoration-none">Расчитать -></button>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">У меня есть</div>
                    <div class="card-body">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Из :</span>
                            <select name="convertTo" class="form-control" style="max-width: 300px"
                                    th:field="${convert.convertTo}">
                                <option th:each="curr: ${currency}" th:value="${curr.charCode}"
                                        th:utext="${curr.charCode} + ' (' +${curr.name} + ')'"></option>
                            </select>
                            <span class="input-group-text">Сумма :</span>
                            <input type="number" step="any" required name="valueTo" th:field="${convert.valueTo}"
                                   class="form-control"
                                   id="valTo">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">Хочу преобрести</div>
                    <div class="card-body">
                        <div class="input-group mb-3">
                            <span class="input-group-text">В :</span>
                            <select name="convertFrom" class="form-control" style="max-width: 300px"
                                    th:field="${convert.convertFrom}">
                                <option th:each="curr: ${currency}" th:value="${curr.charCode}"
                                        th:utext="${curr.charCode} + ' (' +${curr.name} + ')'"></option>
                            </select>
                            <span class="input-group-text">Сумма :</span>
                            <input type="number" name="valueFrom" readonly th:field="${convert.valueFrom}"
                                   class="form-control"
                                   id="valFrom">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <h2 class="text-center">Статистика</h2>
    <div class="card">
        <div class="card-header">
            <h5>Статистика за период</h5>
            <div class="input-group mb-3">
                <span class="input-group-text">C :</span>
                <input type="date" class="form-control-sm" th:value="${after}" id="after" name="after">
                <span class="input-group-text">По :</span>
                <input type="date" class="form-control-sm" th:value="${before}" id="before" name="before">

                <a id="search-graph" onclick="searchStat()" class="btn-sm btn-primary text-decoration-none"
                   href="/statistics">Получить за период</a>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Конвертирование из
                        <select id="filterConvertTo" name="convertTo"
                                class="form-control" style="max-width: 300px"
                                onchange="filter()">
                            <option>...</option>
                            <option th:each="curr: ${currency}" th:value="${curr.charCode} + ' (' +${curr.name} + ')'"
                                    th:utext="${curr.charCode} + ' (' +${curr.name} + ')'"></option>
                        </select></th>
                    <th scope="col">
                        Конвертирование в
                        <select id="filterConvertFrom" name="convertFrom" class="form-control"
                                style="max-width: 300px"
                                onchange="filter()">
                            <option>...</option>
                            <option th:each="curr: ${currency}" th:value="${curr.charCode} + ' (' +${curr.name} + ')'"
                                    th:utext="${curr.charCode} + ' (' +${curr.name} + ')'"></option>
                        </select>
                    </th>
                    <th scope="col">Кол-во
                        <button class="btn-sm btn-outline-secondary" onclick="sort()">↓</button>
                        <button class="btn-sm btn-outline-secondary" onclick="reverseSort()">↑</button>
                    </th>
                </tr>
                </thead>
                <tbody id="listingTable">
                </tbody>
            </table>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="input-group mb-3">
                <span class="input-group-text">График изменения валют по :</span>
                <select name="convertFrom" id="rate" class="form-control" style="max-width: 300px"
                        th:field="${convert.convertFrom}">
                    <option th:each="curr: ${currency}" th:value="${curr.charCode}"
                            th:utext="${curr.charCode} + ' (' +${curr.name} + ')'"></option>
                </select>
                <a id="build-graph" onclick="buildGraph()" class="btn-sm btn-primary text-decoration-none"
                   href="/statistics">Показать</a>
            </div>
        </div>
        <div class="card-body">
            <div id="chart_div"></div>
        </div>
    </div>
</div>

<!-- sctipt -->
<script src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<!-- пагинация статистики-->
<script th:replace="parts/_table_filter :: filter(${statistic})"></script>
<!-- график изменения валют-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script th:replace="parts/_graph :: graph(${rates})"></script>
</body>
</html>
