<script xmlns:th="http://www.w3.org/1999/xhtml" th:inline="javascript" th:fragment="paginator(statistic)">

    let current_page = 1;
    let records_per_page = 10;

    let objJson = [[${statistic}]];

    window.onload = function () {
        changePage(1);
    };

    function prevPage() {
        if (current_page > 1) {
            current_page--;
            changePage(current_page);
        }
    }

    function nextPage() {
        if (current_page < numPages()) {
            current_page++;
            changePage(current_page);
        }
    }

    function changePage(page) {
        let btn_next = document.getElementById("btn_next");
        let btn_prev = document.getElementById("btn_prev");
        let listing_table = document.getElementById("listingTable");
        let page_span = document.getElementById("page");

        // проверка станиц
        if (page < 1) page = 1;
        if (page > numPages()) page = numPages();

        listing_table.innerHTML = "";

        for (let i = (page - 1) * records_per_page; i < (page * records_per_page); i++) {
            if (i < objJson.length) {
                listing_table.innerHTML += "<tr><td>" + objJson[i].convertTo + "</td><td>" + objJson[i].convertFrom + "</td><td>" + objJson[i].count + "</td></tr>";
            }
        }
        page_span.innerHTML = page;

        if (page === 1) {
            btn_prev.style.visibility = "hidden";
        } else {
            btn_prev.style.visibility = "visible";
        }

        if (page === numPages()) {
            btn_next.style.visibility = "hidden";
        } else {
            btn_next.style.visibility = "visible";
        }
    }

    function numPages() {
        return Math.ceil(objJson.length / records_per_page);
    }

    // формирование фильтра на запрос статистики
    function searchStat() {
        const after = document.getElementById('after');
        const before = document.getElementById('before');
        const btn = document.getElementById('search-graph');
        btn.setAttribute('href', '/statistics/?after=' + after.value + '&before=' + before.value);
    }
</script>
